@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: #536992;
    --secondary: #ffd936;
    --white: #efefef;

}

body{
    color: var(--primary);
}

#main{
    background-image: url(../image/main.png);
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}
a {
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav-list a{
    color: var(--white);
}

.btn{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary{
    border: 2px solid var(--white);
    color: var(--white);
    font-weight: bold;
}

.btn-primary{
    border: none;
    background: var(--secondary);
    color: var(--primary);
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: var(--white);
}
.main-content .intro-heading{
    font-size: 50px;
}
.main-content .main-heading {
    font-size: 110px;
    margin-top: -20px;
}
.main-content p {
    /* max-width: 250px; */
    margin-bottom: 10px;
}
.menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 30px;
}

@media screen and (max-width: 520px) {
    .menu-btn {
        display: block;
    }
    .nav-list{
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right: -900px;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .nav-list.active{
        right: 0;
    }
    .nav-list li {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid var(--white);
    }
    /* so the styles would not apply to last child but we are dioing it seperatly
         .nav-list li:not(:last-chile) {
             text-align: left;
             width: 100%;
             padding: 10px 30px;
             border-bottom: 1px solid var(--white);
         }*/

    .nav-list li:last-child {
        text-align: center;
        border-bottom: none;
    }

}

/* services */

.section-title h1 {
    font-size: 50px;
    text-align: center;
}

.section-title .line{
    width: 150px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin: auto;
}
.section{
    margin: 80px auto;
}

.services{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.service{
    width: 300px;
}

.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: ttansform 0.3s ease;
}

.service img:hover{
    transform: scale(1.05);
}